---
http_interactions:
- request:
    method: get
    uri: https://api.propublica.org/campaign-finance/v1/2020/candidates/leaders/pac-total.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<PROPUBLICA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - d5c794de-d400-4a58-895d-a15978a9f0d9
      X-Amz-Apigw-Id:
      - PWYqlG5YIAMEjMQ=
    body:
      encoding: UTF-8
      string: '{"status":"OK","copyright":"Copyright (c) 2023 ProPublica Inc. All
        Rights Reserved.","cycle":2020,"category":"Contributions from PACs","base_uri":"https://api.propublica.org/campaign-finance/v1/2020/","results":[{"relative_uri":"/candidates/S4GA11285.json","name":"PERDUE,
        DAVID","party":"REP","state":"/races/GA.json","district":"00","committee":"/committees/C00547570.json","status":"I","total_from_individuals":75574377.42,"total_from_pacs":4851577.45,"total_contributions":80425954.87,"candidate_loans":0.0,"total_disbursements":88492643.47,"begin_cash":1703670.97,"end_cash":12414001.63,"total_refunds":162391.11,"debts_owed":781801.79,"date_coverage_from":"2019-01-01","date_coverage_to":"2020-12-31"},{"relative_uri":"/candidates/S2KY00012.json","name":"MCCONNELL,
        MITCH","party":"REP","state":"/races/KY.json","district":"00","committee":"/committees/C00193342.json","status":"I","total_from_individuals":59868152.25,"total_from_pacs":3602747.57,"total_contributions":63474756.83,"candidate_loans":0.0,"total_disbursements":64878657.61,"begin_cash":3595456.04,"end_cash":6811701.29,"total_refunds":2177094.1,"debts_owed":0.0,"date_coverage_from":"2019-01-01","date_coverage_to":[...]
