.row.mt-2
    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        %h1.text-center Search for Campaign Finance

    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        = form_tag search_finance_path, method: :get do
            .form-group.row
                .col-md-4
                    %label.col-form-label
                        Enter a cycle:
                .col-md-6
                    = select_tag(:cycle, options_for_select(%w[2010 2012 2014 2016 2018 2020]), class: 'form-control')

            .form-group.row
                .col-md-4
                    %label.col-form-label
                        Enter a category:
                .col-md-6
                    = select_tag(:category, options_for_select(campaign_finance_categories), class: 'form-control')

            .actions
                = submit_tag 'Search', class: 'btn btn-primary'

